.body {
    -fx-background-color:  #282c34;
}

.nav_btn {
    -fx-background-color: white;
}

.nav_btn:hover {
    -fx-background-color: #C4C4C4;
}

.nav_btn:pressed, .nav_btn:default:hover:pressed {
    -fx-background-color: red;
}

.main_btn {
    -fx-background-color:  #282c34;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.main_btn:hover {
    -fx-border-width: 3;
}

.main_btn:pressed, .main_btn:default:hover:pressed {
    -fx-background-color: red;
}

.lang-selector {
    -fx-background-color:  black;
    -fx-background-radius:  10;
    -fx-text-fill: white;
    -fx-text-base-color: white;
    -fx-body-color: black;
}

.search-bar {
    -fx-background-color:  #282c34;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-style: hidden hidden solid hidden;
}